@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* { font-family: "Inter", sans-serif; }
canvas.emscripten
{
    border-radius: 30px;
    /* border: 1px solid #007acc;
    box-shadow: 
        inset 0 1px 0 #006ab1,
        0 0 0 1px rgba(0, 72, 255, 0.5); */
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-self: center;
}
canvas { image-rendering: pixelated; image-rendering: crisp-edges; }

.main-wrapper
{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.game-container
{
    border-radius: 20px;
    background: #252526;
    border: 1px solid #3f3f46;
    box-shadow: 
        inset 0 1px 0 rgba(255,255,255,0.04),
        0 0 0 1px rgba(0,0,0,0.5);
    justify-self: center;
    padding: 20px;
    width: fit-content;
}

.game-bottom-buttons-container
{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    border: 1px solid #3f3f46;
    background: #313132;
    padding: 10px;
    border-radius: 15px;
    gap: 20px;
    height: 25px;
}
#add_entity_btn
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
#add_entity_btn:hover
{
    color: #57bcff;
    img
    {
        filter: brightness(0) saturate(100%) invert(81%) sepia(22%) saturate(7484%) hue-rotate(176deg) brightness(99%) contrast(105%);
    }
}
#add_entity_btn img
{
    filter: invert(1);
    width: 20px;
}
.game-top-buttons-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #3f3f46;
    background: #313132;
    padding: 10px;
    border-radius: 15px;
    gap: 20px;
    height: 25px;
}
.input-size-box-divs
{
    display: flex;
    gap: 20px;
}

.game-container button, .info-div-input-boxes
{
    font-weight: 600;
    background: #252526;
    border: 1px solid #3f3f46;
    box-shadow: 
        inset 0 1px 0 rgba(255,255,255,0.04),
        0 0 0 1px rgba(0,0,0,0.5);
    color: white;
    border-radius: 15px;
    padding: 5px;
}
.game-container button:hover
{
    background: #2d2d30;
    border-color: rgb(41, 121, 174);
}
.info-div-input-boxes
{
    padding-left: 10px;
}
.info-div-input-boxes input
{
    color: white;
    background: none;
    border: none;
    outline: none;
}
.info-div-input-boxes:focus-within
{
    background: #2d2d30;
    border-color: rgb(41, 121, 174);
}
.info-div-input-boxes input[type=number]::-webkit-outer-spin-button,
.info-div-input-boxes input[type=number]::-webkit-inner-spin-button
{
    -webkit-appearance: none;
    -moz-appearance: textfield;     
    margin: 0;
}
.sprite-editor-inputs-container
{
    display: flex;
    gap: 10px;
}
.top-buttons-left
{
    display: flex;
    gap: 20px;
}
#run-game-btn
{
    display: flex;
    justify-content: center;
    width: 40px;
}
#run-game-btn img
{
    width: 20px;
    filter: invert(1);
}
#run-game-btn:hover
{
    border-color: lightgreen;
    img
    {
        filter: brightness(0) saturate(100%) invert(94%) sepia(9%) saturate(2306%) hue-rotate(45deg) brightness(101%) contrast(101%);
    }
}
.hidden
{
    height: 0;
    visibility: hidden;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
#reset-camera-btn
{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-self: left;
}
#reset-camera-btn img
{
    filter: invert(1);
    width: 20px;
}
#delete-entity-btn
{
    border-radius: 10px;
    display: flex;
    text-align: center;
}
#delete-entity-btn:hover
{
    border-color: #ff2d6f;
    img
    {
        filter: invert(51%) sepia(67%) saturate(5699%) hue-rotate(335deg) brightness(112%) contrast(109%);
    }
}
#delete-entity-btn img
{
    width: 20px;
    height: auto;
    filter: invert(1);
}

.input-box
{
    display: none;
}

.sprites-list-container
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 20px;
    background: #252526;
    border: 1px solid #3f3f46;
    box-shadow: 
        inset 0 1px 0 rgba(255,255,255,0.04),
        0 0 0 1px rgba(0,0,0,0.5);
    justify-self: center;
    padding: 20px;
    color: white;
}
.sprites-list-container ul
{
    list-style: none;
    padding-left: 0;
    width: 200px;
}
.sprites-list-container ul li
{
    border: 1px solid #3f3f46;
    background: #313132;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    
    height: 30px;
}
.sprites-list-container ul li img
{
    filter: invert(1);
    width: 30px;
}

#output
{
    font-family: "JetBrains Mono", monospace;
    display: block;
    overflow: auto;
    box-sizing: border-box;
    justify-self: center;
    resize: none;
    margin: 10px;
    padding: 10px;
    width: 800px;
    outline: none !important;
    height: 250px;
    color: white;
    display: none;

    border: 1px solid #3f3f46;
    background: #313132;

    border-radius: 20px;
}
.output-wrapper
{
    display: flex;
    flex-direction:column;
    justify-self: center;
    border-radius: 25px;
    overflow: hidden;
    background-color: black;
    width: fit-content;

    background: #252526;
    border: 1px solid #3f3f46;
    box-shadow: 
        inset 0 1px 0 rgba(255,255,255,0.04),
        0 0 0 1px rgba(0,0,0,0.5);
    margin-top: 25px;
}
#output::-webkit-scrollbar {
    display: none;
}
.output-wrapper h1
{
    color: white;
    overflow: auto;
    font-family: "JetBrains Mono", monospace;
    padding: 0px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: large;
    padding: 10px;
}
.output-wrapper h1 img
{
    width: 30px;
    filter: invert(0);
}